#logo {
    height: 50px; 
    width: auto;  
}

body {
    margin: 0;
    padding: 0;
    background: #222;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #fafafa;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar {
    
    justify-content: space-between;
    align-items: center;
    background-color: #111; 
    padding: 12px 32px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.18);
    border-bottom: 1px solid #333;
}

.container {
    margin-top: 110px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.dataTables_filter {
  margin-bottom: 15px;          /* distanza sotto */
}

.dataTables_filter label {
  font-weight: bold;
  color: white;
}

.dataTables_filter input {
  border: 2px solid #007bff;    /* bordo blu */
  border-radius: 8px;           /* angoli arrotondati */
  padding: 6px 12px;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.dataTables_filter input:focus {
  border-color: #007bff;        
  outline: none;

}
.dataTables_length {
  margin-bottom: 15px;          
}
.dataTables_length select {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #1e1e1e; 
  color: #ffffff;            
  cursor: pointer;
}


.dataTables_length select option {
  background-color: #1e1e1e; 
  color: #ffffff;            
}

